$color: skyblue;

.header {
  height: 200px;
  background-color: skyblue;
}

.footer {
  height: 200px;
  background-color: skyblue;
}

.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}
